<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/detalle-compra.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&amp;display=swap"
        rel="stylesheet">
    <title>PerichsOne</title>
</head>

<body>

    <!-- En el header van las dos primeras barras : La que dice equipate para ser el mejor y la otra es donde va el nombre y la barra de busqueda! NADA MAS -->
    <header>
        <div class="cabeza-superior">
                
            <p class="frase-top"><a href="/"> <i class="fa-brands fa-d-and-d"></i>PhericsOne</a></p>
            <div class="hipervinculos-header">
                
                <a class="vinculos" href="/ayuda"><i class="fa-solid fa-headset" style="padding-right: 0.8vh;"></i>Ayuda</a>
                <a class="vinculos" href="/registro">Registrate</a>
                <a class="vinculos" href="/login"><i class="fa-solid fa-right-to-bracket"
                        style="padding-right: 0.8vh;"></i>Ingresa</a>
            </div>
        </div>

        <div class="cabeza-inferior">
            <h1 style="color:#292E1E">Equípate para ser el mejor de tu equipo!</h1>
            <div class="form-submit" action="#" method="GET">
                <input class="input barra-busqueda" type="search"
                    placeholder="Eso que tanto deseas, buscalo acá"></input>
                <i class="fa fa-search icono-search"></i>
            </div>

            <a class="carrito" href="/carrito"><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>

        </div>

    </header>

    <main>
        <a class="volver-inicio" href="/"><i class="fa-solid fa-arrow-left-long"></i> Volver al inicio</a>
        <section class="contenedor-superior">
            <section class="seccion-img">
                <img class="img-principal" src="/img/<%= producto.imagen1 %> " alt="<%= producto.imagen1 %> ">

                <div class="contenedor-img-1">
                    <div class="contenedor-hijo-img"><img class="img-secundaria" src="/img/<%= producto.imagen1 %> " alt="<%= producto.imagen1 %>"></div>
                    <div class="contenedor-hijo-img"><img class="img-secundaria" src="/img/<%= producto.imagen2 %>" alt="<%= producto.imagen2 %>"></div>

                </div>

            </section>

            <section class="detalles-producto">
                <div class="precio-producto">
                    <p>$ precio </p>
                </div>

                <div class="nombre-producto-img">
                    <p> titulo </p>
                </div>
                <div class="datos-compra">
                    <input class="cantidad" type="number" value="1" name="cantidad-producto" maxlength="1">
                    <button class="boton-comprar" type="submit">Comprar</button>
                </div>
            </section>
        </section>
        <section>
            <div class="contenedor-descripcion">
                <p class="titulo-descripcion">Descrición:</p>
                <p> --- Descrición 1 ---
                   <p>Adaptado a tus movimientos</p>    
                  
                   <p> Apto para fácil traslado</p>
                           ---Descrición 2 ---
                    
                </p>
                
            </div>
        </section>

        <div class="otro-producto">
            Otros productos
        </div>

        <section class="productos">

            <article class="articulo">

                <a class="contenedor-img" href="#">
                    <img class="producto-imagen" src="/img/mouse.png">
                </a>
                <div>
                    <p class="nombre-producto">titulo</p>
                    <p class="precio">$ precio-producto</p>
                </div>
            </article>


            <article class="articulo">

                <a class="contenedor-img" href="/detalle-producto-auriculares">
                    <img class="producto-imagen" src="/img/auris.png">
                </a>
                <div>
                    <p class="nombre-producto">AURICULARES LOGITECH</p>
                    <p class="precio">$14.540</p>
                </div>
            </article>

            <article class="articulo">
                <a class="contenedor-img-t" href="/detalle-producto-teclado">
                    <img class="producto-imagen" src="/img/teclado.png">
                </a>
                <div>
                    <p class="nombre-producto">TECLADO MECANICO HYPERX</p>
                    <p class="precio">$21.000</p>
                </div>
            </article>



            <article class="articulo">
                <a class="contenedor-img-t" class="articulo-hijo" href="/detalle-producto-mousepad">
                    <img class="producto-imagen" src="/img/mousepad.png">
                </a>
                <div>
                    <p class="nombre-producto">MOUSEPAD HYPERX L</p>
                    <p class="precio">$6.500</p>
                </div>
            </article>

        </section>

    </main>





    <footer>

        <section class="pie">
            <div>
                <p class="footer-superior">Sobre Nosotros</p>
                <p class="footer-inferior">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Lorem ipsum dolor
                    sit, amet consectetur adipisicing elit. </p>
            </div>
            <div>
                <p class="footer-superior">Nuestro WhatsApp</p>
                <p class="footer-inferior">+54 9 353 417 5992</p>
            </div>
            <div>
                <p class="footer-superior">Nuestro Email</p>
                <p class="footer-inferior">Contacto@phericsOne.com</p>
            </div>
        </section>

    </footer>


</body>

</html>