<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/detalle-compra.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&amp;display=swap"
        rel="stylesheet">
    <title>PerichsOne</title>
</head>

<body>

    <!-- En el header van las dos primeras barras : La que dice equipate para ser el mejor y la otra es donde va el nombre y la barra de busqueda! NADA MAS -->
    <!-- partial del header-->
    <%- include("./partials/header-total") %>

        <main>
            <a class="volver-inicio" href="/"><i class="fa-solid fa-arrow-left-long"></i> Volver al inicio</a>
            <section class="contenedor-superior">
                <section class="seccion-img">
                    <img class="img-principal" src="/img/productos/<%= producto.imagen1 %> " alt="<%= producto.imagen1 %> ">

                    <div class="contenedor-img-1">
                        <div class="contenedor-hijo-img"><img class="img-secundaria" src="/img/productos/<%= producto.imagen1 %> "
                                alt="<%= producto.imagen1 %>"></div>
                        <div class="contenedor-hijo-img"><img class="img-secundaria" src="/img/productos/<%= producto.imagen2 %>"
                                alt="<%= producto.imagen2 %>"></div>

                    </div>

                </section>

                <section class="detalles-producto">
                    <div class="precio-producto">
                        <p>$ <%= producto.precio %>
                            <%= producto.categoria.nombre %> 
                        </p>
                    </div>

                    <div class="nombre-producto-img">
                        <p>
                            <%= producto.titulo %>
                        </p>
                    </div>
                    <div class="datos-compra">
                        <input class="cantidad" type="number" value="1" name="cantidad-producto" maxlength="1">
                        <button class="boton-comprar" type="submit">Comprar</button>
                    </div>
                </section>
            </section>
            <section>
                <div class="contenedor-descripcion">
                    <p class="titulo-descripcion">Descrición:</p>
                    <p class="descripcion">
                        <%= producto.descripcion1 %>
                    </p>


                    <p class="descripcion">
                        <%= producto.descripcion2 %>
                    </p>


                </div>
            </section>

            <div class="otro-producto">
                Otros productos
            </div>

            <section class="productos">
                <% productos.slice(-4).forEach(masProductos=> { %>


                    <article class="articulo">

                        <a class="contenedor-img" href="../detalle-producto/<%= masProductos.id %> ">
                            <img class="producto-imagen" src="/img/productos/<%= masProductos.imagen1 %> ">
                        </a>
                        <div>
                            <p class="nombre-producto">
                                <%= masProductos.titulo %>
                            </p>
                            <p class="precio">$ <%= masProductos.precio %>
                            </p>
                        </div>
                    </article>
                    <% }) %>








            </section>

        </main>





        <!-- partials del footer-->
        <%- include("./partials/footer") %>


</body>

</html>