<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/new-editProduct.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&amp;display=swap"
        rel="stylesheet">
    <title>PhericsOne</title>
</head>

<%- include ("./partials/header-superior.ejs") %>

    <body>
        <h1 class="titulo-np">Modifiquemos un Producto!</h1>
        <div class="contenedor-formulario">
            <form action="/product/editProduct/<%= producto.id %>?_method=PUT " method="post" class="formulario-np" enctype="multipart/form-data">
                
                <div><label for="">Nombre del Producto: </label>
                    <input type="text" name="titulo"  required value="<%= producto.titulo %>"></div>
                <div><label for="">Que categoria le quieres asignar al producto: </label>
                    <select name="categoria_id" id="" required>Auriculares
                        <option value=1>Auriculares</option>
                        <option value=2>Teclados</option>
                        <option value=3>Mouse</option>
                        <option value=4>Joysticks</option>
                        <option value=5>Monitores</option>
                        <option value=6>Mousepads</option>
                    </select>
                </div>
                <div><label for="">imagen del producto: </label>
                    <input type="file" name="imagen1"></div>
                <div><label for="">precio del producto: </label>
                    <input type="text" name="precio" value="<%= producto.precio %>"></div>
                <div><label for="">Garantía: </label>
                    <select name="garantia" id="" required >Auriculares
                        <option value="6">6 meses</option>
                        <option value="12">12 meses</option>
                        <option value="24">24 meses</option>
                    </select>
                </div>
                <div> 
                    <label for="">Descripción </label>
                        <div>
                            <label for="">Descripción 1: </label><textarea name="descripcion1" cols="30" rows="5"><%= producto.descripcion1 %> </textarea>
                        </div>
                        <div>
                            <label for="">Descripción 2: </label><textarea name="descripcion2" cols="30" rows="5"><%= producto.descripcion2 %></textarea>
                        </div>
                        <div>
                            <label for="">Descripción 3: </label><textarea name="descripcion3" cols="30" rows="5" ><%= producto.descripcion3 %></textarea>
                        </div>
                </div>
                <div class="botones">
                    <button type="submit">modificar</button>
                    <button type="reset">Borrar</button>
                </div>
            </form>
        </div>

        
        
        
        
        <%- include ("./partials/footer.ejs") %>
        
    </body>
</html>