<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&amp;display=swap"
            rel="stylesheet">
        <title>PerichsOne</title>
    </head>
<body>

    <!-- En el header van las dos primeras barras : La que dice equipate para ser el mejor y la otra es donde va el nombre y la barra de busqueda! NADA MAS -->
    <!-- partial del header-->
    <%- include("./partials/header-total") %>



        <main>

            <!-- El main arranca con un nav, donde van todos los perifericos . -->
            <nav>
                <ul class="barra-navegacion">
                    <li><a class="item-nav" href="#">Mouse</a></li>
                    <li><a class="item-nav" href="#">Teclados</a></li>
                    <li><a class="item-nav" href="#">Mousepads</a></li>
                    <li><a class="item-nav" href="#">Auriculares</a></li>
                    <li><a class="item-nav" href="#">Joystick</a></li>
                </ul>
            </nav>

            <img class="Banner" src="/img/productos/Banner.jpg">

            <section class="productos">

            <% productos.slice(-4).forEach(producto => { %>
                <article class="articulo">
                    <a class="contenedor-img" href="/product/detalle-producto/<%= producto.id %>">
                        <img class="producto-imagen" src="/img/productos/<%= producto.imagen1 %>">
                    </a>
                    <div>
                        <p class="nombre-producto"><%= producto.titulo %></p>
                        <p class="precio">$<%= producto.precio %></p>
                    </div>
                </article>
            <% }) %>
          
        </section>


            <section class="marcas">
                <img src="/img/productos/marcas.png" alt="">
            </section>


        </main>

        <!-- partials del footer-->
        <%- include("./partials/footer") %>



</body>

</html>