<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/dashboardUsuario.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&amp;display=swap"
        rel="stylesheet">
    <title>PerichsOne - Dashboard</title>
</head>

<body>

    <!-- En el header van las dos primeras barras : La que dice equipate para ser el mejor y la otra es donde va el nombre y la barra de busqueda! NADA MAS -->
    <!-- partial del header-->
    <%- include("./partials/header-total") %>
        <main>
            <section>
                <div class="contenedor-agregar-search">
                    <a href="/product/newProduct" class="agregar-producto">Agregar un Usuario</a>
                    <form class="barra-search-caja" action="/product/dashboard/search" method="get">
                        <input type="text" name="keywords" class="barra-search-dashboard"
                            placeholder="Buscar un usuario">
                        <button type="submit" class="boton-busqueda-caja"><i
                                class="boton-busqueda fa-sharp fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
                <div class="contenedor">
                    
                        <div class="menu-izquierda">
                            <div class="tituloMenu">Menu</div>
                            <a class="vinculosMenu" href="/users/listar-usuarios"><p>Usuarios</p></a>
                            <a class="vinculosMenu" href="/product/dashboard"><p>Productos</p></a>
                            <a class="vinculosMenu" href="/"><p>Inicio</p></a>
                            <a class="vinculosMenu" href="/logout"><p>Salir</p></a>
                        </div>
                    <div class="contenedorPrincipal">
                        <% users.forEach(user => { %>
                      <div class="contenedorUsuario">
                            <figure class="contenedorIMG">
                                <img class="userImage" src="/img/users/<%= user.image %> " >
                            </figure>
                            <div class="divDatos">
                                <p class="parrafoInfo"><%= user.nombre %></p>
                                <p class="parrafoInfo"><%= user.apellido %></p>
                                <p class="parrafoInfo"><%= user.email %> </p>
                                <p class="parrafoInfo"><%= user.categoria %> </p>
                            </div>
                            <div class="divBotones">
                                <a class="botonCRUD first" href="/users/detalle-usuario/<%= user.id %> ">Perfil</a>
                                <a class="botonCRUD second" href="/users/editar-usuario/<%= user.id %>">Editar</a>
                                <a class="botonCRUD third" href="/users/borrar/<%= user.id %> ">Borrar</a>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </section>


        </main>
        <!-- partials del footer-->
        <%- include("./partials/footer") %>



</body>

</html>