<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/principal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&amp;display=swap"
        rel="stylesheet">
    <title>PerichsOne - Dashboard</title>
</head>

<body>

    <!-- En el header van las dos primeras barras : La que dice equipate para ser el mejor y la otra es donde va el nombre y la barra de busqueda! NADA MAS -->
    <!-- partial del header-->
    <%- include("./partials/header-total") %>
        <main>
            <section>
                <div class="contenedor-agregar-search">
                    <a href="/product/newProduct" class="agregar-producto">Agregar un Usuario</a>
                    <form class="barra-search-caja" action="/product/dashboard/search" method="get">
                        <input type="text" name="keywords" class="barra-search-dashboard"
                            placeholder="Buscar un usuario">
                        <button type="submit" class="boton-busqueda-caja"><i
                                class="boton-busqueda fa-sharp fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
                <div class="contenedor">
                    
                        <div class="menu-izquierda">
                            Usuarios<br> 
                           <a href="/product/dashboard">Listado de productos</a><br>
                           <a href="/logout">Salir</a>
                        </div>
                    
                    <div>
                        <table class="tabla">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Apellido</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Telefono</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Categoria</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>

                                <% let i =0; users.forEach(user=> { %>
                                    <!-- color de fondo -->
                                    <%  if (i%2==1) { %>
                                     
                                    
                                    <tr class="fondo-gris">
                                        <th scope="row">
                                            <%= user.id %>
                                        </th>
                                        <td>
                                            <%= user.firstname %>
                                        </td>
                                        <td>
                                            <%= user.lastname %>
                                        </td>
                                        <td>
                                            <%= user.email %>
                                        </td>
                                        <td>
                                            <%= user.telefono %>
                                        </td>
                                        <td>
                                            <%= user.username %>
                                        </td>
                                        <td>
                                            <%= user.categoria %>
                                        </td>
                                        <td>
                                          <a href="detalle-usuario/<%= user.id %> "><button class="boton-ver-listados">ver</button></a><a href="/user/edit/<%= user.id %> "><button class="boton-editar-listados">editar</button></a><a href="/user/del/<%= user.id %> "><button  class="boton-eliminar-listados">eliminar</button></a>
                                        </td>
                                    </tr>
                                  
                                     <!-- aca el otro color -->
                                     <% } else { %>
                                        <tr class="fondo-blanco">
                                            <th scope="row">
                                                <%= user.id %>
                                            </th>
                                            <td>
                                                <%= user.firstname %>
                                            </td>
                                            <td>
                                                <%= user.lastname %>
                                            </td>
                                            <td>
                                                <%= user.email %>
                                            </td>
                                            <td>
                                                <%= user.telefono %>
                                            </td>
                                            <td>
                                                <%= user.username %>
                                            </td>
                                            <td>
                                                <%= user.categoria %>
                                            </td>
                                            <td>
                                              <a href="detalle-usuario/<%= user.id %> "><button class="boton-ver-listados">ver</button></a><a href="editar-usuario/<%= user.id %> "><button class="boton-editar-listados">editar</button></a><a href="/user/del/<%= user.id %> "><button  class="boton-eliminar-listados">eliminar</button></a>
                                            </td>
                                        </tr>
                                        <% } %>
                                      
                                    <% i++; }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>


        </main>
        <!-- partials del footer-->
        <%- include("./partials/footer") %>



</body>

</html>